img {
    width: 300px;
    border-radius: 50%;
}

div {
    text-align: center;
}

body {
    background-image: linear-gradient(pink, blue);
}

section  {
    text-align: center;
    margin-bottom: 10px;
    font-family: "courgette", cursive;
    font-size: 20;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    color: purple;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    font-weight: bold;
    color: green;
}

#tabs {
    text-align: right;
}
